.jumia-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#inputsearch{
    padding: 10px;
    width: 300px;
}

#searchbutton{
    padding: 10px;
    color: white;
    background-color: orange;
    border: none;
}

.jumia-p p
{
    padding: 10px;
    margin: 0;
}